* {
  margin: 0;
  padding: 0;
}

.table {
  border: 1;
  border-color: black;
  width: 450px;
  height: 100px;
}

.tet {
  background-color: red;
}

.data {
  background-color: cyan;
}

.txt {
  background-color: yellow;
}

.img {
  width: 70px;
}
